* {
    margin: 0;
    padding: 0;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    transition: 140ms ease-in-out;
    color: white;
}
*::selection {
    color: rgb(38, 255, 0);
}
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-size: cover;
}
article {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 30px;
    border: 2px solid rgb(255, 255, 255);
    width: 90%;
    padding: 20px;
    backdrop-filter: blur(15px) brightness(50%);
}
h1 {
    text-align: center;
    margin-top: 10px;
    font-size: 67px;
}
article>p {
    width: 87%;
    margin-top: 20px;
    text-align: center;
}
dl {
    text-align: center;
    width: 50%;
}
dt {
    margin-top: 10px;
    font-weight: bold;
}
div {
    margin-top: 24px;
    border: 2px solid rgb(255, 255, 255);
    backdrop-filter: blur(15px) brightness(50%);
    border-radius: 35px;
    display: flex;
    justify-content: center;
    gap: 50px;
    width: 50%;
    padding: 40px;
    height: 40vh;
}
div>figure>img {
    width: 100%;
    height: 70%;
    border-radius: 30px;
    margin-top: 40px;
    filter: grayscale(100%);
}
div>figure>img:hover {
    scale: 1.1;
    filter: none;
    cursor: pointer;
}
div>figure>img:hover + figcaption {
    margin-top: 20px;
    opacity: 1;
}
div>figure>figcaption {
    text-align: center;
    opacity: 0;
}
cite {
    font-size: 10px;
    margin-top: 20px;
}
.box {
    border: 2px solid white;
    display: inline-block;
    padding: 15px;
    margin: 20px;
    text-align: center;
    text-decoration: none;
    color: white;
    border-radius: 10px;
    width: 250px;
    text-decoration: none;
    transition: 0.3s;
}
.box:hover {
    background-color: white;
    color: black;
    transform: scale(1.05);
}
footer {
    margin-top: 20px;
    background-color: black;
    width: 100%;
    height: 40px;
}
footer>p {
    color: white;
    text-align: center;
    margin-top: 10px;
}